@import url('/Css/global.css');
@import url('/Css/correções.css');

body{
    background-color: var(--background);
    padding: 10px;

}
.dc-icons_primals{
    padding: 10px;
    justify-content: flex-start;
}
.dc-image{
    height: 50px;
    width: 50px;
}
.dc-image_global{
    height: 150px;
    width: 150px;
}
.dc-icon{
  height: 40px;
}
.dc-header{
    width: 102%;
    background-color: var(--headerInit);
    margin-top: -2vh;
    margin-left: -2vh;
    margin-right: -2vh;
    border: 2px solid var(--headerIBorder);
    border-radius: 25px;
}
.dc-menu-links{
    padding-left: 70%;
}
.dc-menu_item{ 
    display: inline;
    text-transform: uppercase;
    margin: 0 1.25rem;
}
.dc-icon{
    display: flex;
    align-items:center;
    justify-content:center;
    border: 1px solid var(--bordas);
    border-radius: 50%;
    background-color: var(--linksHover);
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    cursor:pointer;
    z-index: 1;
    transition: transform 0.5 ease-in-out;
}
.dc-main-Hello{
    align-items: center;
}
.dc-contatos{
    position: flex;
    align-self: flex-end ;
    width: 102%;
    background-color: var(--headerInit);
    margin-left: -2vh;
    margin-right: -2vh;
    margin-bottom: -5vh;
    border: 2px solid var(--headerIBorder);
    border-radius: 25px;
}
.dc-contatos_items{
    display:inline;
    
}
.dc-main-content{
    background-image: url(/icons/icon-service-0.png);
    background-repeat: no-repeat;
    background-size: 100vh;
    display: flex;
}