@import url('/Css/global.css');
@import url('/Css/correções.css');

body{
    background-color: var(--background);
    
}
.dc-icons_primals{
    padding: 10px;
    display: absolute;
    justify-content: flex-start
}
.dc-image{
    height: 50px;
    width: 50px;
}
.dc-image_global{
    height: 150px;
    width: 150px;
}
.dc-icon{
  height: 40px;
}
.dc-header{
    background-color: var(--headerInit);
}
.dc-menu_item{
    display: inline-block;
    text-transform: uppercase;
    margin: 0 1.25rem;
}
.dc-icon{
    display: flex;
    align-items:center;
    justify-content:center;
    border: 2px solid var(--bordas);
    border-radius: 50%;
    background-color: var(--linksHover);
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    cursor:pointer;
    z-index: 1;
    transition: transform 0.5 ease-in-out;
}
